name: Release
on:
  push:
    branches:
      - master
permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  tag:
    name: Tag with semantic release
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Configure git user
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
      - name: Tag semantic release
        id: tag
        uses: pixelfusion/actions/tag@v1
      - name: Copy README to plugin directory
        run: cp README.md ./gatsby-plugin-s3/README.md
      - name: Install dependencies, build and publish
        run: |
          cd ./gatsby-plugin-s3
          npm install -g npm@latest
          npm -v
          npm ci
          npm run build
          npm publish
